.animation {
  position: absolute;
  right: 0;
  @apply h-32;
  animation: 3s ease-in 1s slidein;
}

@keyframes slidein {
  from {
    right: -100;
    width: 100%;
  }

  to {
    right: 0;
    width: 100%;
  }
}

.letter {
  display: inline-block;
  transition: transform 350ms ease;
  transition-duration: 800ms;
  @apply text-center;
}

.quote::before {
  content: '"';
  display: block;
  font-size: 4rem;
  left: -5%;
  top: -5%;
  position: relative;
  height: 0;
  font-family: cursive;
  opacity: 50%;
}

.quote::after {
  content: '"';
  display: block;
  font-size: 4rem;
  position: relative;
  height: 0;
  letter-spacing: -1px;
  font-family: cursive;
  transform: rotate(180deg);
  opacity: 50%;
}

#face {
  max-width: 100%;
  object-fit: contain;
  @apply rounded-md;
  @apply drop-shadow-lg;
}

#blog_card:hover #square {
  width: 20rem;
}

#blog_card:hover #circle {
  opacity: 100%;
}
