.animation {
  position: absolute;
  right: 0;
  @apply h-32;
  animation: 3s ease-in 1s slidein;
}

@keyframes slidein {
  from {
    right: -100;
    width: 100%;
  }

  to {
    right: 0;
    width: 100%;
  }
}

.letter {
  display: inline-block;
  transition: transform 350ms ease;
  transition-duration: 800ms;
  @apply text-center;
}
